
/* 10.a */
.add-to-cart {
  background-color: rgb(255, 216, 20);
  border: none;
  padding: 8px 40px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 350px;
  cursor: pointer;
}

/* 10.b */
.uber-button,
.js-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.request-button {
  background-color: #222;
  color: #fff;
}

.schedule-button {
  background-color: rgb(230, 230, 230);
  color: #222;
}

/* 10.c */
.js-button {
 background-color: violet;
}
